.dot {
	height: 25px;
	width: 25px;
	background-color: lightgray;
	border-radius: 50%;
	display: inline-block;
	line-height: 25px;
}

.dot-container {
	position: relative;
	width: 250px; /* Adjust container size as needed */
	height: 250px;
	left: calc(50% - 138px);
	top: -8px;
}

.star {
	position: absolute;
	top: 15%;
	left: 50%;
	width: 25px;
	height: 200px;
	border-radius: 10px;
	background-color: var(--primary);
	/* border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-bottom: 140px solid red;
	transform: translate(-50%, -50%); */
}
