:root {
	/* --primary: #1b839d; */
	--primary: #499fc1;
	--secondary: #ef8e2c;
	--background: #1f1f1f;
	/* --background: #ffffff; */
	--text: #ffffff;
	/* --text: #000000; */
	--border_radius: 10px;
}

textarea {
	width: 98%;
	/* max-width: 500px; */
	tab-size: 4;
	color: var(--text);
	background-color: inherit;
	padding-left: 3px;
	border-radius: var(--border_radius);
	box-shadow: none;
	border: 1px solid;
	position: relative;
	height: calc(100% - 150px);
	margin-top: 20px;
}

html {
	height: 100%;
}

body {
	background-color: var(--background);
	color: var(--text);
	font-family: monospace;
	margin-top: 30px;
	font-size: 14px;
	height: calc(100% - 88px);
}

.inline {
	display: inline-block;
	width: 32%;
	min-width: 300px;
	vertical-align: top;
	height: calc(100%);
}

.shadow {
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	padding: 1px 20px 20px;
	margin: 20px 0.4% 0.4%;
}

.ram_table {
	border: solid 1px;
	padding: 3px 6px;
	/* width: 90%; */
	/* height: 400px; */
}

table {
	/* width: 90%; */
	margin: 0 auto;
	border-radius: var(--border_radius);
}

.dis_asm_table {
	text-align: left;
	overflow: hidden;
}

/* .tDisAsm_td_class {
	width: calc(100% - 200px);
} */

.tRAM_td_class {
	width: 25px;
	height: 25px;
	padding: 0 0 0 2px;
}

td {
	/* border: 1px solid #ccc; */
	padding-left: 2px;
}

.center {
	text-align: center;
}

header {
	background-color: var(--primary);
	text-align: center;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	color: white;
	/* border-radius: 0px 0px 10px 10px; */
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	height: 60px;
}

.main {
	height: calc(100% - 66px);
	margin-top: 55px;
	margin-bottom: 50px;
}

/* button, */
select {
	color: var(--text);
	background-color: inherit;
	border: solid 2px;
	width: 150px;
	height: 32px;
	border-color: var(--primary);
	cursor: pointer;
	border-radius: var(--border_radius);
}

#iColorPicker {
	margin: 20px;
	/* float: left; */
	padding: 0px;
	border: solid 2px var(--secondary);
	/* border-radius: 10px; */
}

#dLinks {
	float: right;
	margin: 25px 20px;
}

a {
	/* color: var(--secondary); */
	color: white;
	font-weight: bold;
	font-size: x-large;
}

#iHeader {
	vertical-align: middle;
}
h1 {
	display: inline-block;
	vertical-align: middle;
}

h2 {
	margin: 15px;
}

#slidecontainer {
	width: 100%;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 180px;
	border-radius: var(--border_radius);
	background: var(--primary);
}

#iFontSize {
	width: 40px;
}

.inline-block {
	display: inline-block;
	vertical-align: middle;
}

/* #dSettings {
	width: 28%;
} */

#dExpanded {
	height: auto;
	padding-bottom: 20px;
}

.module {
	height: 333px;
}

.setting{
	height: 120px;
}
